{% extends 'base.html.twig' %}

{% block title %}Portfolio - SiteName{% endblock %}

{% block body %}
    <div class="grid">
        {% set big_array = [4, 8, 3, 5, 8, 9] %}
        {% set count = 0 %}
        {% set compare = 0 %}

        {% for i in 0..64 %}
            {% if i == compare %}
                <div class="grid-item span-2">
                    <img src="https://picsum.photos/seed/20{{ i }}/400" alt="">
                </div>
                {% set compare = compare + big_array[count] %}
                {% set count = count + 1 %}
            {% else %}
                <div class="grid-item">
                    <img src="https://picsum.photos/seed/20{{ i }}/200" alt="">
                </div>
            {% endif %}

            {% if count > 5 %}
                {% set count = 0 %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
