{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/plupload.full.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="container" class="card">
        <a id="browse" href="javascript:;">[Browse...]</a>
        <a id="start-upload" href="javascript:;">[Start Upload]</a>
    </div>

    <ul id="filelist" class="card"></ul>
    <br/>

    <br/>
    <pre id="console"></pre>

    <script type="text/javascript">
        let uploader = new plupload.Uploader({
            runtimes: 'html5',
            browse_button: 'browse',
            url: '{{ path('upload') }}',
            chunk_size: '1mb',

            filters: {
                mime_types: [
                    {title: "Image files", extensions: "jpg,jpeg,gif,png"},
                ]
            },

            init: {
                PostInit: function () {
                    // Initiate upload with upload button
                    document.getElementById('start-upload').onclick = function () {
                        uploader.start();
                    };
                },
                FilesAdded: function (up, files) {
                    // Add file names to the list
                    plupload.each(files, function (file) {
                        document.getElementById('filelist').innerHTML += '<li id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></li>';
                    });
                },
                UploadProgress: function (up, file) {
                    // Add upload percentage behind file names in the list
                    document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
                },
                Error: function (up, err) {
                    // Display error, if any
                    document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
                },
            },
        });

        uploader.init();
    </script>
{% endblock %}
