<aside>
    <header>
        <a href="{{ path('portfolio') }}"><img src="https://picsum.photos/id/633/260" alt=""></a>
    </header>
    <nav>
        <a href="{{ path('portfolio') }}">Portfolio</a>
        <a href="{{ path('about') }}">About</a>
        <a href="{{ path('contact') }}">Contact</a>
    </nav>
    <footer>
        <div>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        </div>
    </footer>
</aside>